To get all the stops from the NaPTAN dataset, we use the `naptan.get_all_stops`
function.

This will return the data as a pandas.DataFrame.

In [1]:
import naptan

naptan.get_all_stops()

,ATCOCode,NaptanCode,PlateCode,CleardownCode,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,...,TimingStatus,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
0,0100BRP90310,bstgwpa,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2019-09-13T10:41:24,92.0,new,active
1,0100BRP90311,bstgwpm,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2019-09-13T10:41:38,73.0,new,active
2,010000056,bstpjgw,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2019-08-06T00:00:00,2019-08-06T11:09:11,120.0,new,active
3,0100BRP90312,bstjaja,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2020-11-26T13:23:29,45.0,new,active
4,0100BRP90313,bstjama,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2020-11-26T13:22:13,44.0,new,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436170,9400ZZTWWJQ,NaN,NaN,NaN,The Shore,NaN,NaN,NaN,at 44,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436171,9400ZZTWWJR,NaN,NaN,NaN,Foot of the Walk,NaN,NaN,NaN,at 173,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436172,9400ZZTWWJS,NaN,NaN,NaN,Balfour Street,NaN,NaN,NaN,opp 294,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436173,9400ZZTWWJT,NaN,NaN,NaN,McDonald Road,NaN,NaN,NaN,opp 40,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436174,9400ZZTWWJU,NaN,NaN,NaN,Picardy Place,NaN,NaN,NaN,opp 12,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active

By default the returned dataset includes stops of every "status" (can be one of
'active', 'inactive', or 'pending'). To return just the 'active' stops we pass
in `status='active'` to the function.

In [2]:
import naptan

naptan.get_all_stops(status='active')

,ATCOCode,NaptanCode,PlateCode,CleardownCode,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,...,TimingStatus,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
0,0100BRP90310,bstgwpa,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2019-09-13T10:41:24,92.0,new,active
1,0100BRP90311,bstgwpm,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2019-09-13T10:41:38,73.0,new,active
2,010000056,bstpjgw,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2019-08-06T00:00:00,2019-08-06T11:09:11,120.0,new,active
3,0100BRP90312,bstjaja,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2020-11-26T13:23:29,45.0,new,active
4,0100BRP90313,bstjama,NaN,NaN,Temple Meads Stn,NaN,Temple Meads Stn,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2009-08-25T00:00:00,2020-11-26T13:22:13,44.0,new,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436170,9400ZZTWWJQ,NaN,NaN,NaN,The Shore,NaN,NaN,NaN,at 44,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436171,9400ZZTWWJR,NaN,NaN,NaN,Foot of the Walk,NaN,NaN,NaN,at 173,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436172,9400ZZTWWJS,NaN,NaN,NaN,Balfour Street,NaN,NaN,NaN,opp 294,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436173,9400ZZTWWJT,NaN,NaN,NaN,McDonald Road,NaN,NaN,NaN,opp 40,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
436174,9400ZZTWWJU,NaN,NaN,NaN,Picardy Place,NaN,NaN,NaN,opp 12,NaN,...,NaN,NaN,NaN,NaN,124,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active